<html>
    <body style="background:grey ">
        <div class="container">
            <form class="form-horizontal">
                <!--Heading-->
                <h2 style="text-align:center;">FRESH STUDENT REGISTRATION FORM</h2>
                
                <!--State of domicile-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">STATE OF DOMICILE</label>
                    <div class="col-sm-12">
                            <select name="stateslist">
                                <option value="none">Select District</option>
                                <option value="andaman">Andaman and Nicobar Islands</option>
                            </select>
                    </div>
                </div>

                <!--DISTRICT-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">DISTRICT</label>
                        <div class="col-sm-12">
                            <select name="stateslist">
                                <option value="">Select District</option>
                                <option value="">Andaman and Nicobar Islands</option>
                            </select>
                        </div>
                </div>
            


                <!--Name -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">NAME:(AS PER YOUR MARKSHEET)</label>
                    <div class="col-sm-12">
                        <input type="text" id="name" name="name" [(ngModel)]="students.name"  placeholder="Enter your name" class="form-control" autofocus required>
                    </div>
                </div>


                <!--Date of birth (DOB) -->
                <div class="form-group">
                        <label class="col-sm-3 control-label">DOB:</label>
                        <div class="col-sm-12">
                            <input type="DATE" id="date" name="date" class="form-control"  required>
                        </div>
                </div>

                 <!--GENDER-->
                 <div class="form-group">
                        <label class="col-sm-3 control-label">GENDER</label>
                            <div class="col-sm-12">
                                <select name="stateslist">
                                    <option value="gender">Select Gender</option>
                                    <option value="male">MALE</option>
                                    <option value="female">FEMALE</option>
                                    <option value="other">OTHER</option>
                                </select>
                            </div>
                    </div>


                <!--Mobile Number -->
                <div class="form-group">
                    <label  class="col-sm-3 control-label">MOBILE NUMBER:</label>
                    <div class="col-sm-12">
                        <input type="number" id="mobilenumber" name="mobilenumber" placeholder="Enter your mobile number" class="form-control" required >
                    </div>
                </div>

                <!--Email id -->
                <div class="form-group">
                        <label  class="col-sm-3 control-label">EMAIL ID:</label>
                            <div class="col-sm-12">
                                <input type="text" id="EMIAL" name="EMAIL" placeholder="Enter your email " class="form-control" required >
                            </div>
                    </div>

                <!--Bank ifsc code -->
                <div class="form-group">
                    <label  class="col-sm-3 control-label">INSTITUTE CODE:</label>
                        <div class="col-sm-12">
                            <input type="text" id="institudecode" name="institudecode" placeholder="Enter your institute code " class="form-control" required >
                        </div>
                </div>

                <!--Aadhar number -->
                <div class="form-group">
                    <label  class="col-sm-3 control-label">AADHAR NUMBER:</label>
                        <div class="col-sm-12">
                            <input type="number" id="aadharnumber" name="aadharnumber" placeholder="Enter your aadharnumber" class="form-control" required >
                        </div>
                </div>

                <!--Bank ifsc code -->
                <div class="form-group">
                    <label  class="col-sm-3 control-label">BANK IFSC CODE:</label>
                        <div class="col-sm-12">
                            <input type="text" id="bankifsccode" name="bankifsccode" placeholder="Enter your bank ifsc code" class="form-control" required >
                        </div>
                </div>

                <!--Bank account number -->
                <div class="form-group">
                    <label for="bankaccountnumber" class="col-sm-3 control-label">BANK ACCOUNT NUMBER:</label>
                        <div class="col-sm-12">
                            <input type="number" id="bankaccountnumber" name="bankaccountnumber" placeholder="Enter your bank account number" class="form-control" required >
                        </div>
                </div>

                <!--Bank name -->
                <div class="form-group">
                    <label  class="col-sm-3 control-label">BANK NAME:</label>
                        <div class="col-sm-12">
                            <input type="text" id="bankname" name="bankname" placeholder="Enter your bank name" class="form-control" required >
                        </div>
                </div>

                <!--Set password -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">SET PASSWORD:</label>
                    <div class="col-sm-12">
                        <input type="password" id="setpassword" name="setpassword" placeholder="SET YOUR PASSWORD" class="form-control" required >
                    </div>
                </div>

                <!--Confirm password -->
                <div class="form-group">
                    <label  class="col-sm-3 control-label">CONFIRM PASSWORD:</label>
                        <div class="col-sm-12">
                            <input type="password" id="confirmpassword" name="confirmpassword" placeholder="CONFIRM YOUR PASSWORD" class="form-control" required >
                        </div>
                </div>

                <!--Agreement-->
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="checkbox" name="read" value="read"> ALL THE ABOVE INFORMATION FURNISHED BY ME IS TRUE TO THE BEST OF MY KNOWLEDGE<br>
                    </div>
                </div>

                <!--SUBMIT-->
                <div class="form-group">   
                        <input type="submit" class="btn btn-primary btn-lg btn-block">
                </div>

            </form>
        </div> 
    </body>
</html>

