<html>
    <style>
    
    </style>
<body >
    <div class="container">
        <form>
            <!--NAME-->
            <div class="form-group">
                <label >NAME: (AS IN MARK SHEETS)</label>
                <input type="text" class="form-control" id="name" name="name"  placeholder="Enter your name">
            </div>

            <!--AADHAR NUMBER-->
            <div class="form-group">
                    <label >AADHARNUMBER:</label>
                    <input type="number" class="form-control" id="addnumber" name="addnumber"  placeholder="Enter your bank name">
            </div>

             <!--BANK ACCOUNT NUMBER-->
             <div class="form-group">
                    <label >BANK ACCOUNT NUMBER:</label>
                    <input type="text" class="form-control" id="bankaccnumber" name="bankaccnumber"  placeholder="Enter your bank name">
            </div>

             <!--BANK IFSC CODE-->
             <div class="form-group">
                    <label >BANK IFSC CODE:</label>
                    <input type="text" class="form-control" id="bankifsccode" name="bankifsccode"  placeholder="Enter your bank name">
            </div>

            <!--BANK NAME-->
            <div class="form-group">
                    <label >BANK NAME:</label>
                    <input type="text" class="form-control" id="bankname" name="bankname"  placeholder="Enter your bank name">
            </div>

            <!--SET PASSWORD-->
            <div class="form-group">
                <label>SET YOUR PASSWORD</label>
                <input type="password" class="form-control" id="setpassword" name="setpassword" placeholder="Create your password">
            </div>

            <!--CONFIRM PASSWORD-->
            <div class="form-group">
                <label>SET YOUR PASSWORD</label>
                <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Create your password">
            </div>

            <!--CONFIRMATION CHECKBOX-->
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="confirm" name="confirm">
                <label class="form-check-label" for="exampleCheck1">ALL THE ABOVE INFORMATION FURNISHED BY ME IS TRUE TO  THE BEST OF KNOWLEDGE</label>
            </div>

            <!--SUBMIT BUTTON-->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

</body>
</html>
