<div class="container">
    <form class="form-horizontal">
        <h2 style="text-align:center">Institute Registration Request Form</h2>
        <h3 style="text-align:center">Basic Details</h3>
        <!--Institute Category-->
        <div class="form-group">
            <label for="instituteCategory" class="col-sm-3 control-label">Institute Category</label>
            <div class="col-sm-12">
                    
                        <select id = "InstituteList">
                        <option value = "1">--select--</option>
                        <option value = "2">Institute of Managament</option>
                          <option value = "3">Institute of Technology</option>
                          <option value = "4">Institute of Forest Services</option>
                          <option value = "5">Institute of Research and Development</option>
                        </select>
            </div>
        </div>

        <!--Institute Name-->
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-12">
                <input type="text" id="name" name="Institute Name" placeholder="Name" class="form-control" required>
            </div>
        </div>

        <!--State of Institute-->
        <div class="form-group">
            <label for="state" class="col-sm-3 control-label">State</label>
            <div class="col-sm-12">
            <select id = "StateList">
                                <option value = "1">--select--</option>
                                <option value = "2">Maharashtra</option>
                                <option value = "3">Punjab</option>
                                <option value = "4">Madhya-Pradesh</option>
                                <option value = "5">Himachal Pradesh</option>
                                </select>
                            </div>
        </div>

        <!--District of Institute-->
        <div class="form-group">
                <label for="district" class="col-sm-3 control-label">District</label>
                <div class="col-sm-12">
                <select id = "DistrictList">
                                    <option value = "1">--select--</option>
                                    <option value = "2">Pune</option>
                                    <option value = "3">Mumbai</option>
                                
                                    </select>
                                </div>
            </div>
    

        <!--DISE code of Institute-->
        <div class="form-group">
            <label for="DISE code" class="col-sm-3 control-label">DISE Code</label>
            <div class="col-sm-12">
                <input type="text" id="DISE code" name="DISE Code" placeholder="DISE Code" class="form-control" required>
            </div>
        </div>

        <!--Institute Code-->
        <div class="form-group">
            <label for="instituteCode" class="col-sm-3 control-label">Institute Code</label>
            <div class="col-sm-12">
                <input type="text" id="instituteCode" name="Institute Code" placeholder="Insitute-Code" class="form-control" required>
            </div>
        </div>

        <!--Institute Location-->
        <div class="form-group">
            <label for="location" class="col-sm-3 control-label">Location</label>
            <div class="col-sm-12">
                <input type="radio" name="rural" value="Rural" id="Rural" required/>
                <label for="rural">Rural</label><br />
                
                <input type="radio" name="urban" value="Urban" id="Urban" required/>
                <label for="urban">Urban</label><br />
            </div>
        </div>

        <!--Type of Institute-->
        <div class="form-group">
                <label for="instituteType" class="col-sm-3 control-label">Type of Institute</label>
                <div class="col-sm-12">
                <select id = "TypeOfInstitute">
                                    <option value = "1">--select--</option>
                                    <option value = "2">Autonomous</option>
                                    
                                    </select>
                                </div>
            </div>
    

        <!--State to which the university is affiliated-->
        <div class="form-group">
                <label for="affiliatedUniversityState" class="col-sm-3 control-label">Affiliated University State</label>
                <div class="col-sm-12">
                <select id = "AffiliatedUniversityStateList">
                                    <option value = "1">--select--</option>
                                    <option value = "2">Maharashtra</option>
                                    <option value = "3">Punjab</option>
                                    <option value = "4">Madhya-Pradesh</option>
                                    <option value = "5">Himachal Pradesh</option>
                                    </select>
                                </div>
            </div>
    

        <!--Name of affiliated university board-->
        <div class="form-group">
            <label for="affiliatedUniversityBoardName" class="col-sm-3 control-label">Affiliated University Board Name</label>
            <div class="col-sm-12">
                <input type="text" id="affiliatedUniversityBoardName" name="Affiliated university Board"placeholder="Affiliated University Board Name" class="form-control" required>
            </div>
        </div>

        <!--Starting year of admission of the Institute-->
        <div class="form-group">
                <label for="state" class="col-sm-3 control-label">State</label>
                <div class="col-sm-12">
                <select id = "StateList">
                                    <option value = "1">--select--</option>
                                    </select>
                                </div>
            </div>
    
        <!--Set Password-->
        <div class="form-group">
            <label for="setPassword" class="col-sm-3 control-label">Set Password</label>
            <div class="col-sm-12">
                <input type="password" id="password" name="Enter Password" placeholder="Set Password" class="form-control" required>
            </div>
        </div>

        <!--Confirm Password-->
        <div class="form-group">
            <label for="confirmPassword" class="col-sm-3 control-label">Confirm Password*</label>
            <div class="col-sm-12">
                <input type="password" id="confirmPassword" name="Enter Password again" placeholder="Confirm Password" class="form-control" required>
            </div>
        </div>

        <h3>Proof of Existence of Institute:</h3>

        <!--Certificate of Institute Establishment Registration-->
        <div class="form-group">
        <label for="InstituteEstablishmentRegistrationCertificate" class="col-sm-3 control-label">Institute Establishment Registration Certificate </label>
        <div class="col-sm-12">
            <button type="button" style="font: bold 14px Arial;">upload</button><br/>
            </div>
        </div>

        <h3>Affiliated To:</h3>

        <!--Certificate of University Board Affiliation-->
        <div class="form-group">
        <label for="UniversityBoardAffiliationCertificate" class="col-sm-3 control-label">University Board Affiliation Certificate </label>
        <div class="col-sm-12">
        <button type="button" style="font: bold 14px Arial;">upload</button><br/>
            </div>
        </div>

        <h3>Address:</h3>

        <!--Address line1-->
        <div class="form-group">
        <label for="line 1" class="col-sm-3 control-label">Line 1</label>
        <div class="col-sm-12">
        <input type="text" id="line 1" name="line 1" placeholder="Line 1" class="form-control" required>
            </div>
        </div>

        <!--Address line2-->
        <div class="form-group">
        <label for="line 2" class="col-sm-3 control-label">Line 2</label>
        <div class="col-sm-12">
            <input type="text" id="line 2" name="line 2" placeholder="Line 2" class="form-control" required>
            </div>
        </div>

        <!--City of Institute-->
        <div class="form-group">
            <label for="city" class="col-sm-3 control-label">City</label>
            <div class="col-sm-12">
                <input type="text" id="city" name="City" placeholder="City" class="form-control" required>
            </div>
        </div>

        <!--State of Institute-->
        <div class="form-group">
                <label for="state" class="col-sm-3 control-label">State</label>
                <div class="col-sm-12">
                <select id = "StateList">
                                    <option value = "1">--select--</option>
                                    <option value = "2">Maharashtra</option>
                                    <option value = "3">Punjab</option>
                                    <option value = "4">Madhya-Pradesh</option>
                                    <option value = "5">Himachal Pradesh</option>
                                    </select>
                                </div>
            </div>
    

        <!--District of Institute-->
        <div class="form-group">
                <label for="district" class="col-sm-3 control-label">District</label>
                <div class="col-sm-12">
                <select id = "DistrictList">
                                    <option value = "1">--select--</option>
                                    <option value = "2">Pune</option>
                                    <option value = "3">Mumbai</option>
                                
                                    </select>
                                </div>
            </div>

        <!--Pincode of Institute-->
        <div class="form-group">
            <label for="pincode" class="col-sm-3 control-label">Pincode</label>
            <div class="col-sm-12">
                <input type="text" id="pincode" name="pincode" placeholder="Pincode" class="form-control" required>
            </div>
        </div>

        <h3>Contact Details:</h3>
        <!--Institute's Principal name-->
        <div class="form-group">
            <label for="principalName" class="col-sm-3 control-label">Principal Name</label>
            <div class="col-sm-12">
                <input type="text" id="principalName" name="Principal Name" placeholder="Principal Name" class="form-control" required>
            </div>
        </div>

        <!--Institute Contact Details-->
        <div class="form-group">
            <label for="mobileNumber" class="col-sm-3 control-label">Mobile Number</label>
            <div class="col-sm-12">
                <input type="text" id="mobileNumber" name="Mobile Number" placeholder="Mobile Number" class="form-control" required>
            </div>
        </div>

        <div class="form-group">
            <label for="telephone" class="col-sm-3 control-label">Telephone</label>
            <div class="col-sm-12">
                <input type="text" id="telephone" name="Telephone" placeholder="Telephone" class="form-control" required>
            </div>
        </div>

        <input type="checkbox"> All the details and documents submitted by us are valid and true and if found guilty of submitting invalid documents, we may be held responsible for that act by us<br>

        <div class="form-group">
                <button type="button" class="btn btn-primary btn-block">Submit</button>
                <button type="button" class="btn btn-danger btn-block">Reset</button>
        </div>
    </form>
</div>